<!-- -*- mode: XML -*- -->
<launch>
  <!-- Could be racecar-mit or racecar-uw -->
  <arg name="racecar_version" default="racecar-mit" />

  <group ns="vesc">
  	<include file="$(find vesc_main)/launch/vesc.launch">
        	<arg name="racecar_version" value="$(arg racecar_version)" />
  	</include>
  </group>

  <group ns="teleop">
      <include file="$(find mushr_base)/launch/includes/joy_teleop.launch" />
  </group>

  <group ns="mux">
      <include file="$(find ackermann_cmd_mux)/launch/mux.launch" />
  </group>

  <include file="$(find mushr_hardware)/launch/$(arg racecar_version)/sensors.launch" />

  <!-- static transforms, e.g. base_link to imu -->
  <include file="$(find mushr_hardware)/launch/$(arg racecar_version)/static_transforms.launch" />

</launch>
