<!-- -*- mode: XML -*- -->
<launch>
  <!-- Could be racecar-mit, racecar-uw-tx2, or racecar-uw-nano -->
  <arg name="racecar_version" default="racecar-mit" />

  <param name="robot_description"
         textfile="$(find mushr_description)/robots/$(arg racecar_version).urdf"/>

  <group ns="vesc">
  	<include file="$(find vesc_main)/launch/vesc.launch">
        	<arg name="racecar_version" value="$(arg racecar_version)" />
  	</include>
  </group>

  <group ns="teleop">
      <include file="$(find mushr_base)/launch/includes/joy_teleop.launch" />
  </group>

  <group ns="mux">
      <include file="$(find ackermann_cmd_mux)/launch/mux.launch" />
  </group>

  <include file="$(find mushr_hardware)/launch/$(arg racecar_version)/sensors.launch" />

  <include file="$(find mushr_base)/launch/includes/racecar_state.launch" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher"/>

</launch>
